.texto-cadastro {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 38px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5rem 0;
    color: #277BC0;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.row-cadastro {
    display: flex;
    align-items: center;
}

.column-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.type {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.label-cadastro {
    display: flex;
    flex-direction: column;
    color: #277ABF;
}

.label-cadastro option {
    padding-left: 10px;
}

#formularioCadastro {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 30%;
}

.registro-cadastro {
    background-color: #CFE3F3;
    height: 60px;
    border-radius: 7px;
    width: 550px;
}

.labelform-cadastro {
    display: flex;
    flex-direction: column;
    color: #277ABF;

}



.labelform-cadastro ::placeholder {
    color: #277ABF;

}

/* #tipo-usuario {
    max-width: 500px;
    height: 60px;
} */

.tipo-usuarioCadastro {
    width: 550px;
    height: 60px;
    background-color: #CFE3F3;
    border-radius: 7px;
    color: #277ABF;
}

#cadastro-form a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 60px;
    background-color: #FFE5B4;
    border-radius: 7px;
    margin-top: 20px;
}



#cadastro-form button {
    margin: 0 auto;
        width: 100%;
        height: 60px;
        border-radius: 7px;
        padding:0;
        background-color: #FFE5B4;
        color: #277BC0;
}

@media only screen and (max-width: 600px) {
    .registro-cadastro {
        background-color: #CFE3F3;
        height: 60px;
        border-radius: 7px;
        width: 100%;
    }

    .tipo-usuarioCadastro {
        width: 100%;
        height: 60px;
        background-color: #CFE3F3;
        border-radius: 7px;
        color: #277ABF;
    }
    .container-cadastro input,  .container-cadastro select{
        margin-bottom: 20px;
        width: 90vw;
    }


}

@media only screen and (max-width: 450px) {
    .registro-cadastro {
        margin: 0 auto;
        background-color: #CFE3F3;
        height: 60px;
        border-radius: 7px;
        width: 90%;
    }

    .tipo-usuarioCadastro {
        margin: 0 auto;
        width: 90%;
        height: 60px;
        background-color: #CFE3F3;
        border-radius: 7px;
        color: #277ABF;
        
    }
    #cadastro-form button {
        width: 95%;

}

    label {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0% 5%;
    }

}