
.centro {
    height: 600px;
}
.pt1 img{
    width: 30px;
    height: 40px;
}
.pt1{
    color: #0E20CA;
    height: 200px;
}
.pt1 input {

background: #D0D2EE;
}

  .coluna {
    flex: 1; /* Distribui o espaço igualmente entre as colunas */
    margin: 10px; /* Adicione margens para espaçar as colunas */
     display: flex;
     flex-wrap: wrap;
     
     height: 130px;
     background-color: #D0D2EE;
     width: 190vh;   
      margin-left: 48px;
    
  }
  .centro span{
    margin-left: 51px;
    color: #101149;
    display: flex;
  }
  .coluna img {
    height: 60px;
    width: 57px;
    margin-left: 35px;
    margin-top: 22px;
    cursor: pointer;

  }
  .coluna h1{
    margin-top: 30px;
    margin-left: 6px;
    font-size: 17px;
    color: #101149;
  }
  .coluna p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -52px;
    color: #0E20CA;
    margin-top: 43px;
  }
  .coluna h2{
    margin-left: 140vh;
    color: #101149;
    margin-top: 14px;
  }

  .btn {
    display: flex; /* Define o container como um flex container */
    justify-content: space-between; /* Distribui os itens igualmente ao longo do eixo horizontal */
   
    margin: 150px; /* Adicione margem ao redor do container */
  }

  
  .botao {
    color: white;
    background-color: #0E20CA;;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px; /* Ajuste o tamanho da fonte do botão */
  padding: 5px 8px; /* Ajuste o espaçamento interno do botão */
  }
  .botao + .botao {
    margin-left: 5px;
  }
  .btn{
    margin-left: 97px;
    margin-top: -1px;
    
    
  }
  
  
  
  
  


  .filter-container {
    display: inline-block;
    position: relative;
   
  }
  
  .filter-dropdown {
    display: none;
    position: absolute;
    background-color: #D0D2EE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #0E20CA;
  }
  
  .filter-container:hover .filter-dropdown {
    display: block;
  }
  
  .filter-dropdown-item {
    color: #0E20CA;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .filter-dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .filter-dropdown-button{
    color: #0E20CA;
  }