.conteudo-calc {
    display: flex;
    margin: 25px 40px 40px 40px;
}

.projeto-calculadora {
    background-color: white;
    width: 915px;
    height: 50vh;
    border: 5px solid #4F6BF6;
    margin: 0px 25px 25px 0px;
}

.conta-calculadora {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 915px;
    height: 30vh;
    background: #4F6BF6;
    border: 5px solid #4F6BF6;
}

.calculadora {
    display: flex;
    flex-direction: column;
}

.estrutura-historico {
    background: #4F6BF6;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.seletores {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.operacao {
    display: flex;
    flex-direction: column;
}

.seletores select {
    height: 23px;
}

.tipo-tijolo {
    display: flex;
    flex-direction: column;
}


.conta-operacao {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.conta-operacao div {
    width: 15vw;
}

.conta-operacao input {
    width: 100%;
    height: 23px;
}

.estrutura-calc {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
}

.resultado-sugestoes {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.resultado {
    color: white;
    background-color: #09133F;
    width: 50%;
    height: 100%;
    margin: 0px 0px 10px 0px;
}

.resultado p{
    margin: 0px 0px 0px 8px;
}

.sugestoes {
    color: white;
    background-color: #09133F;
    width: 50%;
    height: 100%;
    margin: 0px 0px 10px 0px;
}

.sugestoes p {
    margin: 0px 0px 0px 8px;
}

.horario-temp{
    margin: 12px 0px 0px 15px;
}

.historico{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    height: 15%;
    margin: 5px 5px 5px 5px;
}