.Rodape {
    color: white;
    background: rgb(9, 19, 62);
    background: linear-gradient(90deg, rgba(9, 19, 62, 1) 5%, rgba(82, 113, 255, 1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 13vh;
}