.estrutura-calendario{
  
    height: 110vh;
    margin: 0px 29vh 5vh;
    display: flex;
    background-color: #FFE5B4;
    margin-top: 10vh;
  

    flex-direction: column;
  
}
.Dias-semanas{
    display: block;
    justify-content: space-between;
    color: #191F55;

    
}
.Dias-semanas span{
    font-size: 1.5em;
    padding-left: 1.78vw;
    margin: 4vh 40px 10px;
    color: #191F55;
}

.Semanas {
 
    
    padding: 0 57px; 
  }
  
  .Semanas a {
    text-decoration: none;
  }
  
  .Semanas > div {
    display: flex;
    width: 100%; 
    margin-bottom: 10px;
  }

@media (max-width:700px){


    .Semanas{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    }
    
    .Semanas{
      padding-right: 0px;

    }

    .estrutura-calendario{
        height: 50vh;
        margin: 0px 1vh 0vh;
        margin-top: 10vh;
    }
    .Dias-semanas span{
        font-size: 1.6vh;
        padding-right: 21px;
        margin: 4vh 3px 0px;
    }
    .Semanas{
        padding-left: 1px;
    font-size: 13px;
        
    }
}





    