.Conteudo{
  background: #f9fafd;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Conteudo .Perfil{
  display: flex;
  flex-direction: column;
  margin-top: 5vw
}

.Conteudo .Historico{
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
}

.Perfil .ConteudoPerfil{
  display: flex;
  background: #D0D2EE;
  width: 25vw;
  height: 110vh;
  align-items: center;
  flex-direction: column;
}

.Perfil span {
  color: #252122;
  font-size: 25px;
}

.ConteudoPerfil a svg{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10vw;
  top: -35vh;
  color: #252122; 
}

.ConteudoPerfil span {
  color: #252122;
  margin: 10px;
  font-size: 20px;
}

.ConteudoPerfil p {
  color: #5271ff;
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
  width:80%;
}

.ConteudoPerfil img{
  width: 225px;
  height: 225px;
  margin: 25px;
}

.Historico .ConteudoHistorico{
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
  border: solid 1px #252122;
}

.ConteudoHistorico span {
  font-size: 13px;
  margin-top: 5px;
}

.ConteudoHistorico p {
  color: #5271ff;
  font-size: 13px;
  margin-top: 10px;
}

.ConteudoHistorico h2 {
  color: #252122;
}

.ConteudoHistorico{
  padding-top:25px;
  padding-left:35px;
}

hr{
  background: black;
  width: 80%;
  height: 0.5px;
  margin-top: 25px;
}

