body {
    overflow-x: hidden;

}

.conteudo img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

.conteudo {
    position: relative;
    margin-bottom: 15px;
    animation-name: aparecimento;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: left;
}

.conteudo h2 {
    position: absolute;
    top: 35%;
    padding-left: 120px;
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    
}

@keyframes aparecimento {
    0% {
        /* Começa fora da tela à direita */
        opacity: 0%;
        /* Começa com opacidade 0 */
    }

    100% {
        opacity: 100%;
        /* Termina com opacidade total */
    }
}
@media screen and (max-width:789px) {
    .conteudo{
        display: flex;
        justify-content: center;
        height: auto;
        margin-top: -25px;
    }
    .conteudo img{
        width: 100vw;
        height: 45vh;
        object-fit: cover;
        text-align: center;
    }
    .conteudo h2{
        font-size: 2.7rem;
        padding: 0;
        transform: translateY(50%);
        
    }
    
}
@media screen and (max-width: 480px) {
    .conteudo h2{
        font-size: 2.5rem;
    }
    
}
