.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index span {
    font-size: 22px;
    opacity: 0;
    font-weight: bold;
    animation-name: aparecimento;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: .7s;
  
}

@keyframes aparecimento {
   
    100% {
        opacity: 100%;
        /* Termina com opacidade total */
    }
    
}


.conteudoIndex {
    color: #252122;
    padding: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 80%;
}

.titulo {
    margin-bottom: 5vh;
}

.posts {
    display: flex;
    justify-content: space-evenly;
}