.Banner {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(9, 19, 62);
    background: linear-gradient(90deg, rgba(9, 19, 62, 1) 5%, rgba(82, 113, 255, 1) 100%);
    width: 100%;
    height: 100vh;
}


.Banner img {
    width: 500px;
    height: 500px;
    padding-left:40px;
    animation-name: entrada-esquerda;
    animation-duration: .7s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  @keyframes entrada-esquerda {
    0% {
      transform: translateX(-80%);
      opacity: .1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.texto{
    display: flex;
    gap: 5px;
    justify-content: left;
    font-size: 25px;
    color: white;
}

a {
    position: relative;
    color: aliceblue;
    text-decoration: none;
}