.carousel-indicators {
  display: flex;
  justify-content: center;
  list-style: none;
  bottom: -3.5%;
}

.carousel-indicators li {
  background-color: #280eef; /* Cor de fundo das caixinhas */
  border-radius: 5px; /* Forma das caixinhas */
  width: 30px; /* Largura das caixinhas */
  height: 30px; /* Altura das caixinhas */
  margin: 0 5px; /* Espaçamento horizontal entre as caixinhas */
  cursor: pointer; /* Cursor do mouse ao passar sobre as caixinhas */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Cor do número dentro das caixinhas */
  font-weight: bold;
}

.carousel-indicators .active {
  background-color: #277bc0; /* Cor de fundo da caixinha ativa */
}

@media screen and (max-width:789px) {
  .carousel-indicators {
    list-style: none;
    bottom: -1.2%;
}
@media screen and (min-width:630px) {
  .carousel-indicators {
    list-style: none;
    bottom: -2.2%;
}
}
@media screen and (max-width: 480px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .carousel-indicators{
    bottom: -1.2%;

  }
}
}
