@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans?styles=18772%27');

body{
 font-family:'IBM PLEX SANS';
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.conteudoApp{
    padding-top:10vh;
    padding-bottom:15vh;
}