.rodape {
    background: #191F55;
    height: 15vh;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.apoio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.apoio img {
    width: 32px;
    height: 32px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.redes-sociais img {
    width: 32px;
    height: 32px;
}

.logos {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.copyright {
    position: absolute;
    bottom: -1;
    background: #191F55;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}
.copyright h4{
    text-transform: uppercase;
}
@media screen and (max-width:789px) {
    .copyright h4{
       font-size: .7rem; 
    }
    .copyright span{
        font-size: .7rem;
    }
    .apoio{
        width: 30%;
    }
    .apoio img{
        width: 20%;
        height: auto;
    }
    .redes-sociais{
        width: 28%;
        text-align: center;
    }
    .logos a img{
        vertical-align: middle;
        
    }
    .logos a{
        text-align: center;
    }
    .logos img{
        justify-content: center;
        align-items: center;
        width: 70%;
        height: auto;

    }
    .contato{
        width: 28%;
    }
    .contato span{
        font-size: .4rem;
    }
}
    
